@{
    ViewData["Title"] = "Login com google";
}

<div class="text-center">
    <br />
    <br />
    <p>Realize o login social com o google para se autenticar com o firebase.</p>
    <button class="btn btn-outline-primary" onclick="login()">LOGIN COM GOOGLE</button>
</div>

@section scripts {
    <script src="~/js/Auth/firebaseAuthentication.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
}