@{
    ViewData["Title"] = "Home firebase Auth";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Aqui você encontra uma DEMO de autenticação usando o Firebase. Para mais informações acesse o <a href="https://github.com/zavadzki72/FirebaseAuthentication">GitHub do Projeto</a></p>
</div>
